
.center{
	text-align:center;
	font-family: 'Aref Ruqaa', serif;
}
.list{
	font-size:150%;
	color: black;
	text-shadow:
    		none;
}
.title{
	font-size:40px;
	color: gold;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
}

.welcome{
	color: gold;
	text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
	.home{
		background-color:red;
	}

	.lobby {
		max-width: 90%;
		background: rgb(54, 25, 25);
	    background: rgba(54, 25, 25, .5);
		height : 50vh;
		font-family: 'Aref Ruqaa', serif;
		font-size:150%;
		color:black;
		margin:auto;
		
	}

	.guys {
		max-width: 100%;

		height: 50vh;
		margin:auto;
	}
}
.gameBoard {
	color: gold;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
	.turn {
		text-align: center;
		font-family: 'Aref Ruqaa', serif;
		border-style: solid;
		border-width: 3px;
		max-width: 95%;
		height: 25vh;

		&.current {
			border-width: 5px;
			
			h1 {
				text-decoration: underline
			}
		}

		&.completed {
			background-color: grey;
			opacity: .3;

		}
	}

	.goblet {
		max-width:100%; 
		height:25vh; 
		margin:auto;
	}

	.cardHeader {
		color: gold;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 

	}

	.card {
		background-image: url('img/cardBg.jpg'); 
		border-radius: 30px;
	}

	.voteBox {
		background-image: url('img/voteBoxBg.jpg');
		border-radius: 15px;
		width: 100%;
		height: 11vh;
	}

	.voteHeader {
		color: gold;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
	}

	.text {
		font-family: 'Aref Ruqaa', serif;
		font-size:150%;
	}

	.leader {
		color: red;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
	}
	
}

.gameOver {
	.evilWins {
		
		color: red;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
	
	}

	.goodWins {
		color: blue;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
	}

	.guys {
		max-width: 100%;

		height: 50vh;
		margin:auto;
	}
}
body {
	background-image: url('img/tablebg.jpg');
	color: black;
	
}

