
.center{
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.welcome{
	.home{
		background-color:red;
	}

	.lobby {
		max-width: 90%;
		background: rgb(54, 25, 25);
	    background: rgba(54, 25, 25, .5);
		height : 50vh;
		font-family:"Trebuchet MS", Helvetica, sans-serif;
		font-size:150%;
		color:black;
		margin:auto;
		
	}

	.guys {
		max-width: 100%;

		height: 50vh;
		margin:auto;
	}
}
.gameBoard {
	.turn {
		text-align: center;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		border-style: solid;
		border-width: 3px;
		max-width: 80%;
		height: 35vh; 
	}
}
body {
	background-image: url('img/tablebg.jpg');
	color: black;
	
}

