
.center{
	text-align:center;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.welcome{
	.home{
		background-color:red;
	}

	.lobby {
		max-width: 90%;
		background: rgb(54, 25, 25);
	    background: rgba(54, 25, 25, .5);
		height : 50vh;
		font-family:"Trebuchet MS", Helvetica, sans-serif;
		font-size:150%;
		color:black;
		margin:auto;
		
	}

	.guys {
		max-width: 100%;

		height: 50vh;
		margin:auto;
	}
}
.gameBoard {
	.turn {
		text-align: center;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		border-style: solid;
		border-width: 3px;
		max-width: 95%;
		height: 30vh;

		&.current {
			background-color: green;
		}

		&.completed {
			background-color: grey;
		}
	}

	.goblet {
		max-width:100%; 
		height:30vh; 
		margin:auto;
	}

	.cardHeader {
		color: gold;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 

	}

	.card {
		background-image: url('img/cardBg.jpg'); 
		border-radius: 30px;
	}

	.voteBox {
		background-image: url('img/voteBoxBg.jpg');
		border-radius: 15px;
		width: 100%;
		height: 11vh;
	}

	.voteHeader {
		color: gold;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
	}

	
}

.gameOver {
	.evilWins {
		
		color: red;
		text-shadow:
    		-1px -1px 0 #000,
    		1px -1px 0 #000,
    		-1px 1px 0 #000,
    		1px 1px 0 #000; 
	
	}
}
body {
	background-image: url('img/tablebg.jpg');
	color: black;
	
}

